.solara-content-main {
    padding-top: 0 !important;
}
.widget-output {
    margin: 0;
}
.v-content.jdaviz__content--not-in-notebook {
    height: 80vh;
    width: 100vw;
    border-color: black;
    border-width: 1px;
    border-style: solid;
}